<div class="landing relative">
  <div class="container">
    <div
      class="info absolute bg-[#FFF3E3] w-[600px] pb-[49px] px-7 mt-10 rounded-lg"
    >
      <h4 class="font-semibold mb-3">New Arrival</h4>
      <h1 class="text-4xl text-[#B88E2F] sm:text-xl">
        Discover Our
        <br />
        New Collection
      </h1>
      <p class="mt-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
        luctus nec ullamcorper mattis.
      </p>
      <button
        class="cursor-pointer bg-[#B88E2F] text-[#FFFFFF] py-4 px-10 mt-7 outline-none border-none font-bold w-[175px]"
      >
        BUY Now
      </button>
    </div>
  </div>
</div>
