@media (max-width: 1520px) {
  .benefits {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;

    .benfit {
      width: 100%;
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;
      text-align: center;
      transition: 0.2s;
    }
  }
}
