<footer class="p-5">
  <div class="container">
    <div class="links-container flex items-start justify-between flex-wrap">
      <div class="logo">
        <h3 class="font-bold">Funiro.</h3>
        <p class="text-[#9F9F9F] mt-9">
          400 University Drive Suite 200 Coral <br />
          Gables, <br />FL 33134 USA
        </p>
      </div>
      <div class="links">
        <h4>Links</h4>
        <ul>
          <li>Home</li>
          <li>Shop</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="links">
        <h4>Help</h4>
        <ul>
          <li>Payment Options</li>
          <li>Returns</li>
          <li>Privacy Policies</li>
        </ul>
      </div>
      <div class="links Newsletter">
        <h4>Newsletter</h4>

        <div class="sub flex items-center gap-3">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter Your Email Address"
          />
          <button>SUBSCRIBE</button>
        </div>
      </div>
    </div>
    <p>2023 furino. All rights reverved</p>
  </div>
</footer>
