.comparison {
  header {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("../../../../public/imgs/shop/background.png");
  }
  .container {
    .compare-content {
      div {
        flex: 1;
      }
    }
    .section {
      border-top: 1px solid red;
      border-right: 1px solid red;
      h2 {
        width: fit-content;
        border-right: 1px solid red;
      }

      div {
        border-right: 1px solid red;
      }
      // flex: 1;
      // border-right: 1px solid red;
      // display: flex;
      // flex-direction: column;
      // align-items: start
      // justify-content: start;
      .info-data {
        // border-right: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-around;
        // flex-direction: column;
        gap: 96px;
        div {
          flex: 1;
          // border-right: 1px solid red;
        }
      }
    }
  }
}
