<div class="funiro-furniture mt-10 mb-7 relative">
  <div class="header absolute">
    <p class="text-[#616161]">Share your setup with</p>
    <h1 class="text-[#3A3A3A]">#FuniroFurniture</h1>
  </div>

  <div class="img-content mt-5">
    <!-- Left Side -->
    <div class="left-side">
      <div class="flex items-end gap-3">
        <div class="img-wrapper">
          <img src="imgs/home/FuniroFurniture/1.png" alt="" class="item1" />
        </div>
        <div class="img-wrapper">
          <img src="imgs/home/FuniroFurniture/2.png" alt="" class="item2" />
        </div>
      </div>
      <div class="flex items-start gap-3 mt-4">
        <div class="img-wrapper">
          <img src="imgs/home/FuniroFurniture/3.png" alt="" class="item3" />
        </div>
        <div class="img-wrapper">
          <img src="imgs/home/FuniroFurniture/4.png" alt="" class="item4" />
        </div>
      </div>
    </div>

    <!-- Center -->
    <div class="center">
      <div class="img-wrapper">
        <img src="imgs/home/FuniroFurniture/5.png" alt="" class="item5" />
      </div>
    </div>

    <!-- Right Side -->
    <div class="right-side">
      <div class="flex items-end gap-3">
        <div class="img-wrapper">
          <img src="imgs/home/FuniroFurniture/6.png" alt="" class="item6" />
        </div>
        <div class="img-wrapper">
          <img src="imgs/home/FuniroFurniture/7.png" alt="" class="item7" />
        </div>
      </div>
      <div class="flex items-start gap-3 mt-4">
        <div class="img-wrapper">
          <img src="imgs/home/FuniroFurniture/8.png" alt="" class="item8" />
        </div>
        <div class="img-wrapper">
          <img src="imgs/home/FuniroFurniture/9.png" alt="" class="item9" />
        </div>
      </div>
    </div>
  </div>
</div>
